section#contact {
	background-color: #212529;
	background-repeat: no-repeat;
	background-position: center;
}

section#contact .section-heading {
	color: #fff;
}

section#contact form#contactForm .form-group {
	margin-bottom: 1.5rem;
}

section#contact form#contactForm .form-group input.form-control {
	height: auto;
}

section#contact form#contactForm .form-group input, section#contact form#contactForm .form-group textarea {
	padding: 1.25rem;
}

section#contact form#contactForm .form-group-textarea {
	height: 100%;
}

section#contact form#contactForm .form-group-textarea textarea {
	height: 100%;
	min-height: 10rem;
}

.btn-xl {
	padding: 1.25rem 2.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.125rem;
	font-weight: 700;
}
