.masthead{
    padding-top: 17rem;
    padding-bottom: 11rem;
    background-image: url('../../asset/mastheadBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.masthead-heading {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
