#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    height: 94px;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, height 0.3s ease-in-out;
    background-color: transparent;
}

#mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
    height: 72px;
}

.navbar-brand-style {
    font-size: 25px;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    vertical-align: middle;
}

#mainNav a.nav-link-style {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}
