#mainNav {
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, height 0.3s ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0D0D0D;
}

#mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0D0D0D;
}

#mainNav .navbar-brand-style {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Redressed', cursive, "Open Sans", Helvetica, Arial, sans-serif;
    transition: font-size 0.3s ease-in-out;
    vertical-align: middle;
}

#mainNav .navbar-brand-style.navbar-brand-shrink {
    font-size: 30px;
}

#mainNav a.nav-link-style {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}

@media (min-width: 992px) {
    #mainNav{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand-style {
        font-size: 40px;
    }
}

