.Footer {
	box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(192, 45, 26);
    color: #fff;
    position: fixed;
    bottom: 0;
}